CONFLUENCE_URL=https://xxxx.atlassian.net/wiki
CONFLUENCE_USERNAME=xxxx@xxxx.com
CONFLUENCE_API_TOKEN=xxxxGuNx9lGlw1PpN1-z25YTg2R48uh2sasJZ9o4DWYRIK3JNTGTXPauPeHiR1AiV4gEeO51pXjttNVBdeztg9489A
JIRA_URL=https://xxxx.atlassian.net
JIRA_USERNAME=xxxx@xxxx.com
JIRA_API_TOKEN=xxxxMnYwvml8ReUfUZxp5rSil03CrEMr9VGdKXKEbLaIU-301360